html, body {
  margin:0px;
  height:100%;
}

.box{
  position:absolute;
  top:0%;
  bottom:0%;
  left:0%;
  right:0%;
}

.bg{
  position:absolute;
  min-height:100%;
  top:5%;
  left:5%;
  right:5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./background.png');
  background-position: center;
  border-radius: 50px;
}

.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.White {
  background: white;
}
.Transparent {
  background: transparent;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  overflow:hidden;
  display:flex;
}

/* Style the links inside the navigation bar
.topnav a {
  background-color: white;
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
*/

.topnav a{
  cursor: pointer;
}

.CorporateContent{
  padding: 5%;
  text-align: center;
}

.Title{
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.Name{
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.Description{
  font-size: 18px;
  text-align: center;
}
.NewsName{
  color: black;
  font-weight: 600;
}
/* Change the color of links on hover
.topnav a:hover {
  background-color: white;
  color: black;

  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-image:
    url(https://mdn.github.io/shared-assets/images/examples/mask-star.svg)
}
    */


/* Add a color to the active/current link
.topnav a.active {
  background-color: white;
  color: white;
}
*/

/*
.masked {
  width: 200px;
  height: 200px;
  mask-repeat: no-repeat;
  mask-size: 100%;

  background: red;
  mask-image:
    url(https://mdn.github.io/shared-assets/images/examples/mask-star.svg),
    radial-gradient(transparent 50%, black);
}
*/

.container .containerBox {
  width: 100%;
  display: table;
  padding-top: 5%;
}

.container .containerBox .box-row {
  display: table-row;
}

.container .containerBox .box-cell {
  display: table-cell;
  width: 33%;
  padding: 10px;
}

.container .containerBox .box-cell.box1 {
  text-align: justify;
}

.container .containerBox .box-cell.box2 {
  text-align: justify
}

.container .containerBox .box-cell.box3 {
  text-align: justify;
}